.col-lg-
{
  border: none;
  background-color: lightblue;
  padding-top: 300px;
 
  padding-bottom: 322px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 4em;
  text-align: center;
  max-width: 100%;
    }
    
  
